@use '../../variables.scss'  as vars;



.addresses-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  
    .addresses-heading {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 16px;
      color: #1D63FF;

    }
  
    .address-form {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      .input-field {
        width: fit-content;
        padding: 8px;
        border: 1px solid #d1d5db; 
        border-radius: 4px;
      }
  
      .checkbox-container {
        display: flex;
        align-items: center;
        gap: 8px;
      }
  
      
      .secondary-button {
        padding: 8px 16px;
        background-color: #d1d5db; 
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .primary-button {
      margin-left: 20px;
      padding: 8px 16px;
      background-color: #3b82f6; 
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2563eb; 
      }
    }

    .setasprimary{
        // display: flex;
        margin-left: 3rem;
    }

  
    .address-list {
      width: fit-content;
      margin: 0 auto;
  
      .address-item {
        padding: 16px;
        border: 1px solid #d1d5db; 
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
        margin-bottom: 16px;
        border-radius: 4px;
  
        .button-group {
          margin-top: 8px;
          display: flex;
          gap: 8px;
  
          .edit-button {
            padding: 4px 12px;
            background-color: #10b981; 
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
  
            &:hover {
              background-color: #059669; 
            }
          }
  
          .delete-button {
            padding: 4px 12px;
            background-color: #ef4444; 
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
  
            &:hover {
              background-color: #dc2626; 
            }
          }
        }
      }
    }
  }
  